.h1 {
  font-size: 20px;
  line-height: 1.2;
  color: #1a1d20;
}

.h2 {
  font-size: 17px;
  line-height: 1.2;
  color: #1a1d20;
}

.p {
  font-size: 15px;
  line-height: 1.2;
  color: #1a1d20;
}

.h2.upper-case,
.p.upper-case,
.h1.upper-case {
  text-transform: uppercase;
}

.h2.lh-higth,
.p.lh-higth,
.h1.lh-higth {
  line-height: 1.5;
}

.p.italic,
.h2.italic,
.h1.italic {
  font-style: italic;
}

.p.no-margin-top,
.h2.no-margin-top,
.h1.no-margin-top {
  margin-top: 0;
}

.p.no-margin-bottom,
.h2.no-margin-bottom,
.h1.no-margin-bottom {
  margin-bottom: 0;
}
.p.text-align-left,
.h2.text-align-left,
.h1.text-align-left {
  text-align: left;
}
.p.bold,
.h2.bold,
.h1.bold {
  font-weight: bold;
}
