.card-podcast {
  box-sizing: border-box;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.33);
}

.section--border-bottom {
  padding: 10px 0;
  border-bottom: 1px solid grey;
}

.section--padding10 {
  padding: 10px;
}
