.podcast-card-summary {
  width: 250px;
  padding: 90px 20px 10px;
  margin: 120px auto 50px auto;
  -webkit-transition: box-shadow 200ms ease-out;
  -moz-transition: box-shadow 200ms ease-out;
  -o-transition: box-shadow 200ms ease-out;
  -ms-transition: box-shadow 200ms ease-out;
  transition: box-shadow 200ms ease-out;
  position: relative;
}

.podcast-card-summary > img {
  position: absolute;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: -70px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.podcast-card-summary:hover {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.33);
}

.no-styles,
.no-styles:link,
.no-styles:visited {
  text-decoration: none;
}
